<ion-header>

    <ion-toolbar color="primary">
        <ion-title>
            <div text-center>
                <img src="assets/img/logo_infox_white.png" class="mainLogo"/>
            </div>
        </ion-title>
        <ion-buttons end>
          <span id="loggedUserName" *ngIf="isLoggedIn()">
            <ion-icon name="contact" class="white-color"></ion-icon>
          </span>
        </ion-buttons>
    </ion-toolbar>
    <ion-navbar color="primary">
        <ion-input mode="ios" placeholder="Buscar..." value="{{recentSearch}}" (ionFocus)="openSearchModal()" readonly>
            <ion-icon name="md-mic"></ion-icon>
        </ion-input>
        <ion-buttons end>
            <button item-right ion-button color="light" class="mic-button" (click)="openSpeechModal()">
                <ion-icon name="md-mic"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content no-padding>
    <ion-refresher (ionRefresh)="refresh($event)" *ngIf="searchQuery && globalVariables.isConnected">
        <ion-refresher-content
                pullingIcon="md-arrow-down"
                pullingText="Estira Para Actualizar...">
        </ion-refresher-content>
    </ion-refresher>

    <offline *ngIf="!globalVariables.isConnected && places.length === 0"></offline>

    <div no-lines text-center text-wrap padding-top class="simple-message" *ngIf="places.length <= 0 && globalVariables.isConnected">{{emptyMessage}} <b>{{searchQuery}}</b></div>
    <div [ngClass]="{'animate-fade-item': showData, 'fadeOut': !showData}" *ngIf="globalVariables.isConnected || places.length > 0">
        <ion-list>
            <button ion-item detail-none *ngFor="let place of places" [ngClass]="(place.plan == 4) ? 'item-featured' : ''" (click)="getPlaceDetails(place.idnum)">
                <ion-avatar item-start *ngIf="place.banner && place.plan !== ''" class="list-place-img">
                    <img [src]="'http://infox.mx/' + place.banner">
                    <!--<img style="background-image: url(http://infox.mx/{{place.banner}})">-->
                </ion-avatar>
                <ion-avatar item-start *ngIf="!place.banner || place.plan === ''" class="list-place-img">
                    <img src="assets/img/logo_infox_big.png">
                    <!--<img style="background-image: url(assets/img/logo_infox_big.png); background-size: contain;">-->
                </ion-avatar>
                <div class="itemPadding">
                    <h2 class="search-list-place-name">{{place.nombre | lowercase}}</h2>

                    <div class="rate-stars" *ngIf="place.num_resenas !== 0">
                        <span color="infox">{{place.promedio_calificacion | number: '1.0-2'}}</span>
                        <ion-icon style="font-size: 1.2em" name="{{getStarName2(1, place.promedio_calificacion)}}"></ion-icon>
                        <ion-icon style="font-size: 1.2em" name="{{getStarName2(2, place.promedio_calificacion)}}"></ion-icon>
                        <ion-icon style="font-size: 1.2em" name="{{getStarName2(3, place.promedio_calificacion)}}"></ion-icon>
                        <ion-icon style="font-size: 1.2em" name="{{getStarName2(4, place.promedio_calificacion)}}"></ion-icon>
                        <ion-icon style="font-size: 1.2em" name="{{getStarName2(5, place.promedio_calificacion)}}"></ion-icon>
                        <span>({{place.num_resenas}})</span>
                    </div>


                    <span class="category">
                    <ion-icon name="{{place.iconStyle}}"></ion-icon>
                    {{place.clasificacion | lowercase}}
                 </span>
                    <p *ngIf="place.casa || place.otrosdatos">
                        <ion-icon name="md-information-circle"></ion-icon>
                        {{place.casa || place.otrosdatos}}
                    </p>
                    <p class="textCapitalize bigIcon">
                        <b>
                            <ion-icon name="ios-pin" *ngIf="place.latitud && place.longitud"></ion-icon>
                            {{place.ciudad}}, {{place.estado}}
                        </b>
                    </p>
                    <p *ngIf="place.horarios" class="textCapitalize hours-text">
                        <ion-icon name="md-time"></ion-icon>
                        {{place.horarios}}
                    </p>
                    <br *ngIf="place.promos.length > 0"/>
                    <div *ngIf="place.promos.length > 0" class="promo-ribbon">
                        <ion-icon name="md-pricetag"></ion-icon>
                        {{place.promos[0].descripcion}}
                    </div>
                </div>
            </button>
        </ion-list>
        <div *ngIf="places.length > 0" text-center padding>
            <span *ngIf="calculatePages() > 0">Página
                <strong>{{form.page}}</strong> de
                <strong> {{calculatePages()}}</strong> |
            </span><span><strong>{{records}}</strong>
            <span *ngIf="records == 1"> Resultado</span>
            <span *ngIf="records > 1">Resultados</span>

        </span>
        </div>
        <div text-center *ngIf="places.length > 0 && (places.length > 14 || form.page !== 1) " class="buttonGroup" no-padding>
            <button ion-button full icon-left (click)="form.page = 1 ; getPlaces(true)" [disabled]="form.page == 1" color="light">
                <ion-icon name="home"></ion-icon>
                Primera
            </button>
            <button ion-button full icon-left (click)="globalVariables.isConnected ? form.page = form.page - 1: '' ; getPlaces(true)" [disabled]="form.page <= 1" color="light">
                <ion-icon name="ios-arrow-back"></ion-icon>
                Atrás
            </button>
            <button ion-button full icon-right (click)="globalVariables.isConnected ?form.page = form.page + 1:'' ; getPlaces(true)" [disabled]="places.length < 14" color="primary">
                Siguiente
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
        </div>

    </div>

</ion-content>

