<ion-header>

    <ion-navbar color="primary">
        <ion-title>login</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="!isLoggedIn()">
        <ion-list>
            <ion-item *ngIf="operation === 'register'">
                <ion-label floating>Nombre</ion-label>
                <ion-input type="text" [(ngModel)]="user.nombre"></ion-input>
            </ion-item>
            <ion-item *ngIf="operation === 'register'">
                <ion-label floating>Apellido(s)</ion-label>
                <ion-input type="text" [(ngModel)]="user.apellidos"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="text" [(ngModel)]="user.email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="user.password"></ion-input>
            </ion-item>
            <ion-item *ngIf="operation === 'register'">
                <ion-label floating>Confirmar</ion-label>
                <ion-input type="password" [(ngModel)]="user.password2"></ion-input>
            </ion-item>
        </ion-list>
        <p>
            <small *ngIf="operation === 'register'">Ya tienes cuenta? <b><a (click)="operation = 'login'">Ingresa</a></b></small>
            <small *ngIf="operation === 'login'">Aún no tienes cuenta? <b><a (click)="operation = 'register'">Regístrate</a></b></small>
        </p>
        <hr />
        <button *ngIf="operation === 'register'" ion-button full (click)="emailRegister()" icon-start color="light"><ion-icon name="mail"></ion-icon> Registro con Email</button>
        <button *ngIf="operation === 'login'" ion-button full (click)="emailLogin()" icon-start color="light"><ion-icon name="mail"></ion-icon> Login con Email</button>
        <div align-items-center>
            <hr />
        </div>
        <button ion-button full (click)="facebookLogin()" icon-start><ion-icon name="logo-facebook"></ion-icon> Login con Facebook</button>
    </div>
    <div *ngIf="isLoggedIn()">
        <h2>¡Bienvenido {{user.nombres}}!</h2>
        <button ion-button full (click)="logout()" icon-start color="danger"><ion-icon name="exit"></ion-icon> Cerrar Sesión</button>
    </div>
</ion-content>
