<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <div text-center>
                <img src="assets/img/logo_infox_white.png" class="mainLogo"/>
            </div>
        </ion-title>
    </ion-navbar>
    <ion-toolbar color="primary">
        <ion-input mode="ios" placeholder="Buscar..." value="{{recentSearch}}" (ionFocus)="openSearchModal()" readonly>
            <ion-icon name="md-mic"></ion-icon>
        </ion-input>

        <ion-buttons end>
            <button item-right ion-button color="light" class="mic-button" (click)="openSpeechModal()">
                <ion-icon name="md-mic"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>

    <offline *ngIf="!globalVariables.isConnected && !showData"></offline>

    <div *ngIf="showData" class="animate-fade-item">
        <div class="placeHeader" [ngClass]="{'headerPadding': !place.data.latitud && !place.data.longitud}">
            <h1 class="textCapitalize">{{place.data.nombre | lowercase}}</h1>
            <h4 class="textCapitalize">{{place.data.clasificacion | lowercase}}</h4>
        </div>
        <div class="takeMeThere" text-center *ngIf="place.data.latitud && place.data.longitud">
            <button ion-button icon-left color="primary" (click)="openGpsModal()">
                <ion-icon name="ios-navigate"></ion-icon>
                ¡Llévame Ahí!
            </button>
        </div>
        <div class="middle-menu" [ngClass]="{'middleMenuPadding': !place.data.latitud && !place.data.longitud}">
            <a class="mid-item" (click)="share()">
                <ion-icon ios="ios-share-outline" md="md-share"></ion-icon>
                <span class="mid-item-text">Compartir</span>
            </a>
            <a class="mid-item" *ngIf="place.dishes.length > 0" (click)="showDishes()">
                <ion-icon name="ios-restaurant"></ion-icon>
                <span class="mid-item-text">Ver Menú</span>
            </a>
            <a class="mid-item" *ngIf="place.data.web" href="{{place.data.web}}" onclick="window.open(this.href, '_blank'); return false;">
                <ion-icon name="ios-globe"></ion-icon>
                <span class="mid-item-text">Sitio Web</span>
            </a>
        </div>

        <div *ngIf="place.data.otrosdatos">
            <ion-card-content class="noPaddingBot">
                <ion-icon name="information-circle"></ion-icon>
                <span [innerHtml]="place.data.otrosdatos | capitalize"></span>
            </ion-card-content>
        </div>

        <div *ngIf="place.data.informacion" class="infoCard">
            <ion-card>
                <ion-card-content [ngClass]="{'read-more': !showInfo}">
                    <ion-icon name="information-circle"></ion-icon>
                    <span *ngIf="!showInfo" [innerHtml]="place.data.informacion | capitalize"></span>
                    <span *ngIf="showInfo" [innerHtml]="place.data.informacion | capitalize | newline"></span>
                </ion-card-content>

                <div (click)="showInfo = !showInfo" class="read-message">
                    <span *ngIf="showInfo" (click)="scrollTop()">Leer menos </span>
                    <span *ngIf="!showInfo && place.data.informacion.length > 40">Leer más </span>
                </div>

            </ion-card>
        </div>

        <div padding>
            <p>
                <ion-icon name="ios-pin"></ion-icon>
                {{place.data.domicilio}}<br/>{{place.data.ciudad}}, {{place.data.estado}}
            </p>
            <hr/>

            <div *ngIf="place.data.telefonos" class="phoneSection">
                <div *ngIf="!show_full_phones" class="bigger_phones">
                    <ion-icon name="ios-call"></ion-icon>
                    Matriz: <a>(834) 16...</a>
                </div>
                <a (click)="show_full_phones = !show_full_phones" class="bigger_phones"><i *ngIf="!show_full_phones">Ver
                    Teléfonos</i></a>
                <div *ngIf="show_full_phones" class="bigger_phones">
                    <ion-icon name="ios-call"></ion-icon>
                    <span [innerHtml]="linkify(place.data.telefonos)">{{linkify(place.data.telefonos)}}</span><br/>
                </div>
            </div>
            <hr/>
            <div *ngIf="place.data.horarios">
                <ion-icon name="md-time"></ion-icon>
                {{place.data.horarios}}<br/>
                <hr/>
            </div>
        </div>

        <div class="incorrect-info-ribbon" text-center text-wrap [ngClass]="{'animate-fade': !correctData, 'fadeOut': correctData}" *ngIf="!correctData">
            ¿Los datos son correctos?
            <div class="button-section">
                <button ion-button small clear color="light" icon-left (click)="openIncorrect()">
                    <ion-icon name="md-close-circle"></ion-icon>
                    No
                </button>
                <button ion-button small clear color="light" icon-left (click)="isCorrectData()">
                    <ion-icon name="md-checkmark-circle"></ion-icon>
                    Sí
                </button>
            </div>

        </div>

        <div *ngIf="place.data.latitud && place.data.longitud">
            <div class="placeMap" #placeMap id="placeMap"></div>
        </div>


        <div class="facebook" *ngIf="place.data.linkfb && (place.data.plan == '2' || place.data.plan == '3' || place.data.plan == '4')" text-center>
            <ion-card>
                <ion-card-content>
                    <iframe [src]="facebookLink" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </ion-card-content>
            </ion-card>
        </div>


        <div class="banner" *ngIf="place.data.banner">
            <ion-card>
                <ion-card-content>
                    <img style="width: 100%" src="http://infox.mx/publicidad/{{place.data.banner}}"/>
                </ion-card-content>
            </ion-card>
        </div>
        <div class="gallery" *ngIf="place.gallery.length > 0">
            <h1 text-center>Galería</h1>
            <ion-slides pager="true" effect="fade" loop="true">
                <ion-slide *ngFor="let slide of place.gallery">
                    <ion-card>
                        <ion-card-content>
                            <img src="http://www.infox.mx/galeria/{{slide.nombreimg}}">
                        </ion-card-content>
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </div>
        <div text-center padding class="visits">
            <span>{{place.data.visitas}} VISITAS</span>
        </div>
    </div>
</ion-content>
